/* basic styling  */
/* color pallete  */
:root {
    --primary: #9b5de5;
    --pink: #f15bb5;
    --dark-purple: #190f2c;
    --purple: #241334;
    --white: #ffffff;
    --light: #f8f5fa;
    --text: #211b26;
    --gray: #77717d;
      --light-purple: #251741;
     --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
    --spacing-xl: 80px;
  --border-radius: 12px;
    --transition: 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--text);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}

button,
select {
    
    font-family: inherit;
    
}

/* navigation  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 7%;

    background-color: var(--dark-purple);
    color: var(--white);

    position: sticky;
    top: 0;
    z-index: 1000;
}
/* LOGO */

.logo {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 4px;

    color: var(--white);

    transition: var(--transition);
}
.logo:hover {
    color: var(--pink);
}
/* NAVIGATION LINKS */

.nav-links {
    display: flex;
    gap: 35px;
}


.nav-links a {
    font-size: 14px;
    font-weight: 600;

    transition: var(--transition);
}


.nav-links a:hover {
    color: var(--pink);
}

/* CART */

.cart-button {
    border: 3px solid var(--pink);

    padding: 10px 10px;

    border-radius: 30px;

    font-size: 14px;

    transition: var(--transition);
}


.cart-button:hover {
    background-color: var(--pink);
    color: var(--white);

    transform: translateY(-2px);
}
/* hero section  */
.hero {
    min-height: 90vh;

    display: flex;
    align-items: center;

    padding: var(--spacing-xl) 7%;

    background:
        linear-gradient(
            135deg,
            var(--light-purple),
            var(--purple)
        );

    color: var(--white);
}

.hero-content {
    max-width: 750px;
}

.hero-label {
    color: var(--pink);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
 margin-bottom: 20px;
 transition: var(--transition);
}

.hero h1 {
    font-size: clamp(50px, 8vw, 110px);
    line-height: 0.95;
    letter-spacing: -4px;
margin-bottom: 30px;
}

.hero h1 span {
    color: var(--pink);
}

.hero-description {
    max-width: 550px;

    color: #ddd5e3;

    font-size: 18px;

    margin-bottom: 35px;
}
