/* basic styling  */
/* color pallete  */
:root {
    --primary: #9b5de5;
    --pink: #f15bb5;
    --dark-purple: #120b1f;
    --purple: #241334;
    --white: #ffffff;
    --light: #f8f5fa;
    --text: #211b26;
    --gray: #77717d;
     --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
    --spacing-xl: 80px;
  --border-radius: 12px;
    --transition: 0.3s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--text);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}

button,
select {
    
    font-family: inherit;
    
}

